.Part3{
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: 26em;
    }
    
    table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 300px;
    }
    
    th {
    border-bottom: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;


    }
    
    td {
    text-align:center;
    border-right: 1px solid red;
    }

    .initiate{
padding:8px;
position: relative;    }
    
.calculate2{
padding-left: 500px;

}

.mainStyle{

    display: flow-root;
    margin-inline: 20em;
}

